@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: Montserrat, sans-serif;
    background-color: #eee;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 27px;
}

.master_container {

    margin-top: 3%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.card-container {
	background-color: #ccc;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #000000;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	width: 90%;
	max-width: 100%;
	text-align: center;
    font-size: 24px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
	width: 250px;
	height: 250px;

}
.trainer-wrapper {
    max-width: 92%;
    width: 900px;
    margin: 10px auto 40px;
    padding: 20px 20px 0;
    background-color: #ddd;
    font-family: Roboto;
    position: relative;
    overflow: hidden;
}
.trainer-item {
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0px 1px 3px #bbb;
}
.trainer-list .trainer-item {
    width: 100%;
    margin: 0 auto 20px;
}

.trainer-list img {
    max-width: 30%;
}
.trainer-list .trainer-details {
    float: left;
    max-width: 66%;
    margin-top: 4%;
    margin-left: 1%;
}
.trainer-list img {
    float: left;
    max-height: 60%;
    max-width: 60%;
    padding: 1.2%;
	margin-right: 10%;
	height: 30% !important;
	width: 30% !important;
	margin-bottom
}
.trainer-image{
		/* center the image vertically */
		display: block;
		margin-top: 10px;
		margin-left:10px;
}
.trainer-list p{
	/* left align the text */
	text-align: left;
	margin-bottom: 0px;
}
.trainer-details h2{
	margin-bottom: 0.3em;
}