@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: Montserrat, sans-serif;
    background-color: #eee;
	
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 27px;
}

.master_container {

    margin-top: 3%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.card-container {
	background-color: #ccc;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #000000;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	width: 90%;
	max-width: 100%;
	text-align: center;
    font-size: 24px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}